<!doctype html>
<html lang="en">
<head>
    <title>{% block title %}MyBna Factures{% endblock %}</title>
    <link rel="shortcut icon" href="{{ asset("assets/img/icons8-bank-64.png") }}" type="images/png">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% block stylesheets %}
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        {{ encore_entry_link_tags('app') }}
    {% endblock %}
    {% block javascripts %}
    {{ encore_entry_link_tags('app') }}
    {% endblock %}
</head>
<body>

<main class="container">
    {% include '_Notyf.html.twig' %}
    {% block body %}{% endblock %}
</main>






<script src="{{ asset("assets-login/js/jquery.min.js") }}"></script>
<script src="{{ asset("assets-login/js/popper.js") }}"></script>
<script src="{{ asset("assets-login/js/bootstrap.min.js") }}"></script>
<script src="{{ asset("assets-login/js/main.js") }}"></script>
    <script src="{{ asset("node_modules/notyf/notyf.min.js") }}"></script>

</body>
</html>

