
{% extends 'base.html.twig' %}
{% block body %}
    <div bgcolor="#f6f6f6" style="color: #333; height: 100%; width: 100%;" height="100%" width="100%">
        <table bgcolor="#f6f6f6" cellspacing="0" style="border-collapse: collapse; padding: 40px; width: 100%;" width="100%">
            <tbody>
            <tr>
                <td width="5px" style="padding: 0;"></td>
                <td style="clear: both; display: block; margin: 0 auto; max-width: 600px; padding: 10px 0;">
                    <table width="100%" cellspacing="0" style="border-collapse: collapse;">
                        <tbody>
                        <tr>
                            <td style="padding: 0;">

                                <!--   <img
                                            src='{{absolute_url(asset("assets/img/mybna24 (1).png")) }}'
                                            alt=""
                                            style="height: 50px; max-width: 100%; width: 157px;"
                                            height="50"
                                            width="157"
                                    />//-->
                                <h1 style="color: #1c7430"> Bank Facture</h1>

                            </td>
                            <td style="color: #999; font-size: 12px; padding: 0; text-align: right;" align="right">
                                bank facture<br />
                                Ave Mohamed V, Tunis 1002<br />
                               {{ date }}
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </td>
                <td width="5px" style="padding: 0;"></td>
            </tr>

            <tr>
                <td width="5px" style="padding: 0;"></td>
                <td bgcolor="#FFFFFF" style="border: 1px solid #000; clear: both; display: block; margin: 0 auto; max-width: 600px; padding: 0;">
                    <table width="100%" style="background: #f9f9f9; border-bottom: 1px solid #eee; border-collapse: collapse; color: #999;">
                        <tbody>
                        <tr>
                            <td width="50%" style="padding: 20px;"><strong style="color: darkred; font-size: 24px;">{{ fac.montant }} DT</strong> </td>
                            <td align="right" width="50%" style="padding: 20px;">Client: <span class="il">{{ fac.user.nom }} {{ fac.user.prenom }}</span></td>
                        </tr>
                        </tbody>
                    </table>
                </td>
                <td style="padding: 0;"></td>
                <td width="5px" style="padding: 0;"></td>
            </tr>
            <tr>
                <td width="5px" style="padding: 0;"></td>
                <td style="border: 1px solid #000; border-top: 0; clear: both; display: block; margin: 0 auto; max-width: 600px; padding: 0;">
                    <table cellspacing="0" style="border-collapse: collapse; border-left: 1px solid #000; margin: 0 auto; max-width: 600px;">
                        <tbody>
                        <tr>
                            <td valign="top"  style="padding: 20px;">
                                <h3
                                        style="
                                            border-bottom: 1px solid #000;
                                            color: green;
                                            font-family: 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;
                                            font-size: 18px;
                                            font-weight: bold;
                                            line-height: 1.2;
                                            margin: 0;
                                            margin-bottom: 15px;
                                            padding-bottom: 5px;
                                        "
                                >
                                   Details de factures
                                </h3>
                                <table cellspacing="0" style="border-collapse: collapse; margin-bottom: 40px;">
                                    <tbody>
                                    <tr>
                                        <td style="padding: 5px 0;">Réferance:</td>
                                        <td align="right" style="padding: 5px 0;"> {{ fac.ref }}</td>
                                    </tr>
                                    <tr>
                                        <td style="padding: 5px 0;">Facturier:</td>
                                        <td align="right" style="padding: 5px 0;">{{ fac.facturier.nom }}</td>
                                    </tr>
                                    <tr>
                                        <td style="padding: 5px 0;">Dernier délai de paiement de facture:</td>
                                        <td align="right" style="padding: 5px 0;">{{ fac.Date_de_paiment|date("m/d/Y") }}</td>
                                    </tr>
                                    <tr>
                                        <td style="border-bottom: 2px solid #000; border-top: 2px solid #000; font-weight: bold; padding: 5px 0; border-color: green">Montant:</td>
                                        <td align="right" style="border-bottom: 2px solid #000; border-top: 2px solid #000; font-weight: bold; padding: 5px 0; color: darkred;border-color: green">
                                            {{fac.montant }} DT</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </td>
                <td width="5px" style="padding: 0;"></td>
            </tr>

            <tr style="color: #666; font-size: 12px;">
                <td width="5px" style="padding: 10px 0;"></td>
                <td style="clear: both; display: block; margin: 0 auto; max-width: 600px; padding: 10px 0;">
                    <table width="100%" cellspacing="0" style="border-collapse: collapse;">
                        <tbody>
                        <tr>
                            <td width="40%" valign="top" style="padding: 10px 0;">
                                <h4 style="margin: 0;">Questions?</h4>
                                <p style="color: #666; font-size: 12px; font-weight: normal; margin-bottom: 10px;">
                                    merci de visit notre site
                                    <a
                                            href="www.bank.com"
                                            style="color: #666;"
                                            target="_blank"
                                    >
                                        Bank
                                    </a>

                                </p>
                            </td>

                        </tr>
                        </tbody>
                    </table>
                </td>
                <td width="5px" style="padding: 10px 0;"></td>
            </tr>
            </tbody>
        </table>
    </div>
{% endblock %}

{% block javascripts %}

{% endblock %}

